# Ignore dependencies
node_modules/
backend/node_modules/
frontend/node_modules/

# Ignore local environment variables & builds
.env
backend/.env
dist/
backend/dist/

# System files
.DS_Store
Thumbs.db